.container {
    position: relative;
    width: 129.6px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
    &:hover {
        background-color: #f0f2f5;
    }
}

.active {
    --height-line-active: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &::before {
        position: absolute;
        top: calc(100% - var(--height-line-active));
        content: "";
        width: 100%;
        height: var(--height-line-active);
        background-color: #1a74e4;
    }
    &:hover {
        background-color: transparent;
    }
}
